**/*.log*
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
cache/*
.cache
.env
.idea
.vscode
.pytest_cache
.DS_Store
.cursorrules
.cursour
__pycache__
reports/*
logs/*
**/metrics.db
*cursor*
.cursorrules
.cursour
.cursor
.cursorignore
.cursorignore
.spec-workflow
.spec-workflow/*
*.duckdb
*.wal
*.db
*.sqlite
*.sqlite-journal
.vscode/*
core/services/nul
data/strategy.db-wal
data/strategy.db-shm
.claude/*
.trae/*
nul
